@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&family=Cinzel:wght@600&family=Monoton&family=Press+Start+2P&family=Caveat:wght@600&display=swap');
@import "tailwindcss";
:root {
  /* font-family: poppins system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Sora', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
